<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Webpack CSS Reload Test</title>
    </head>
    <body>
        <h1>Hello World!</h1>
        <p>Lorem ipsum dolor sit amet</p>
    </body>
</html>
